header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: aliceblue;
}


/* the thing that makes it fit right */
body {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    background-color: brown;
}

/* sidebar */
aside {
    grid-column: 1;
    grid-row: 2;
    padding: 20px;
    background-size: 1500px;
background-color: blue;

}